@import "tailwindcss";

:root {
   --background: #ffffff;
   --foreground: #f5f6f8;
   --primary: #14b8a6;
}

@theme {
   --color-primary: var(--primary);
   --color-foreground: var(--foreground);
   --color-background: var(--background);
}

body {
   background: var(--background);  
   overflow-x: hidden;
}

#banner {
   background: radial-gradient(50% 50% at 50% 50%, rgba(134, 121, 121, 0.6336) 0%, rgba(0, 0, 0, 0.64) 100%);
}
