@import "tailwindcss";

:root {
   --background: #ffffff;
   --foreground: #f5f6f8;
   --primary: #14b8a6;
   /* SwiperJs */
   --swiper-navigation-sides-offset: 20px !important;
}

@theme {
   --color-primary: var(--primary);
   --color-foreground: var(--foreground);
   --color-background: var(--background);
}

body {
   background: var(--background);
   overflow-x: hidden;
}

#banner {
   background: radial-gradient(50% 50% at 50% 50%, rgba(134, 121, 121, 0.6336) 0%, rgba(0, 0, 0, 0.64) 100%);
}

#prettyBox {
   background: linear-gradient(180deg, #f6f6f6 0%, #d2dbda 100%);
}

#cardDepoimento {
   background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0) 0%, #ecf6f5 100%);
}

.swiper-button-prev, .swiper-button-next {
   color: white !important;
}